* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #121212;
    color: #e4e4e4;
    font-family: sans-serif;
}

.app {
    padding: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

button {
    width: 7rem;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border: 2px solid transparent;
    border-radius: 7px;
    background-color: #fafafa;
    color: #222;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #e2e2e2;
}

input {
    text-align: center;
    width: 7rem;
    color: #e4e4e4;
    border-radius: 7px;
    border: 2px solid #333;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 1rem;
}

.ri-timer-line {
    font-size: 3rem;
    color: rgb(116, 127, 255);
}

@media screen and (max-width: 430px) {
    .btns {
        max-width: 300px;
        padding-bottom: 5vmin;
    }

    button,
    input {
        width: 100%;
    }
}
